/*
Reflow images when window resizes.
----------------------------------

Gave img a margin so there's space horizontally.

justify-content center effectively makes flex put all the horizontal whitespace
at the outside of the images. The between-image space is the explicit img tag
margin

The original images are just too big so I ~ halved the sizes.

Displaying 3 images across is just a happenstance of my MBP screen. If I
maximize the screen (window green size button) I get 4 across. eh. I don't
want to fuss with forcing a max item-per-row. I expect it would screw up
on a mobile device.


 */

.container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

img {
   width: 320px;
   height: 215px;
   margin: 10px;
}